@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap");
div.signup {
  width: 100vw;
  height: 100vh;
  background: url("/icons/backgroundgradient.png");
}
div.signUpForm > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.signUpForm > form > input {
  width: 315px;
  height: 53px;
  border-radius: 10px;
  border: 1px solid rgba(10, 37, 39, 0.75);
  opacity: 75%;
  margin: 5px;
}
div.signUpForm > form > button {
  text-align: center;
  width: 315px;
  height: 53px;
  border-radius: 10px;
  margin: 5px;
  border: 1px solid transparent;
  background-color: #1a5e63;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

div.login {
  width: 100vw;
  height: 100vh;
  background: url("/icons/backgroundgradient.png");
}

.logintextwrap {
  text-align: center;
  color: white;
  margin-top: 10px;
  opacity: 80%;
  position: relative;
  font-size: 18px;
}
.login {
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
}

div.loginform > form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  div.loginform > form > input {
    width: 315px;
    height: 53px;
    border-radius: 10px;
    border: 1px solid rgba(10, 37, 39, 0.75);
    opacity: 75%;
    margin: 5px;
  }
  div.loginform > form > button {
    text-align: center;
    width: 315px;
    height: 53px;
    border-radius: 10px;
    margin: 5px;
    border: 1px solid transparent;
    background-color: #1a5e63;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
  }
